$primary-background: rgba(82, 81, 81, 1);
$header-font: 'Unica One', Cursive;
$txt-font: 'Crimson Text', Serif;
$txt-color1: rgb(232, 232, 232);
$drop-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
$secondary-background: rgba(43, 114, 172, 0.82);

// Font-Family: 'Unica One', Cursive;
// Font-Size: 52px;
//
// Font-Family: 'Crimson Text', Serif;
// Font-Size: 19px;
